<!DOCTYPE html>
<html>
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/Anl/css/js_sheet/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/Anl/css/js_sheet/ip.grid.min.js"></script>
<link href="/Anl/css/css_sheet/ip.grid.css" rel="stylesheet" />
<style>
body {
	position: relative;
}
.gridContainer {
	position: relative;
	width: 700px;
	height: 500px;
}
#sheet {
	width: 100%;
	height: 100%;
}
</style>


</head>
<body>
	<div class="gridContainer">
		<div id="sheet"></div>
	</div>
</body>
<script>
        $(document).ready(function () {
            $('#sheet').ip_Grid({ rows: 10000,  cols: 26 });

        });
    </script>
</html>
